site_name: echoSMs
repo_url: https://github.com/ices-tools-dev/echoSMs
edit_uri: edit/main/docs/
site_url: https://ices-tools-dev.github.io/echoSMs/

nav:
    - Introduction: index.md
    - Using echoSMs: usage.md
    - Developing echoSMs: developing.md
    - Conventions: conventions.md
    - Benchmarks: benchmark_data.md
    - API reference: api_reference.md
    - Historical notes: historical_notes.md
    - Other software: other_software.md
    - Anatomical data store:
        - Introduction: datastore_intro.md
        - Data structures: datastore_anatomical.md
        - Web API: datastore_API.md
        - Using with echoSMs: datastore_models.md

theme: 
    name: material 
    logo: resources/echoSMs_logo_auto_colour.svg
    favicon: resources/echoSMs_logo_auto_colour.svg
    icon:
        repo: fontawesome/brands/github
    features:
        - navigation.top
        - content.action.view
        - content.code.copy
        - search.suggest
        - search.highlight
        - search.share
    palette:
     # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

plugins:
    - search
    - autorefs
    - mkdocstrings:
        handlers:
            python:
                paths: [src]
                options:
                    docstring_style: numpy
                    docstring_section_style: spacy
                    show_submodules: false
                    show_symbol_type_heading: true
                    show_symbol_type_toc: true
                    merge_init_into_class: true
                    show_bases: true
                    inherited_members: true
                    show_root_heading: true
                    show_root_toc_entry: false
                    show_source: true
                    heading_level: 3
                    filters:
                        - "!^_"

watch:
    - ./docs
    - ./src/echosms
    - ./data_store/schema/v1

hooks:
    - docs/src/make_datastore_schema_md.py
    # - docs/src/get_datastore_api_json.py

markdown_extensions:
    - attr_list
    - footnotes
    - tables
    - pymdownx.highlight:
       anchor_linenums: true
       line_spans: __span
       pygments_lang_class: true
    - pymdownx.highlight
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - admonition
    - pymdownx.details
    - pymdownx.tabbed:
        alternate_style: true

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
