site_name: echoSMs
nav:
    - Introduction: index.md
    - Using echoSMs: usage.md
    - Conventions: conventions.md
    - Benchmarks: benchmark_data.md
    - API reference: api_reference.md
    - Developing echoSMs: developing.md
    - Other software: other_software.md

theme: 
    name: material 
    logo: resources/echoSMs_logo.png
    favicon: resources/echoSMs_logo.png
    icon:
        repo: fontawesome/brands/github
    features:
        - navigation.top
        - toc.integrate
        - content.action.view
        - content.code.copy
        - search.suggest
        - search.highlight
        - search.share
    palette:
     # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

repo_url: https://github.com/ices-tools-dev/echoSMs
edit_uri: edit/main/docs/
site_url: https://ices-tools-dev.github.io/echoSMs/

plugins:
    - search
    - autorefs
    - mkdocstrings:
        handlers:
            python:
                paths: [src]
                options:
                    docstring_style: numpy
                    show_submodules: false
                    show_symbol_type_heading: true
                    merge_init_into_class: true
                    show_bases: true
                    inherited_members: true
                    show_root_heading: true
                    show_root_toc_entry: false
                    show_source: true
                    heading_level: 3
                    filters:
                        - "!^_"

markdown_extensions:
    - attr_list
    - footnotes
    - tables
    - pymdownx.highlight:
       anchor_linenums: true
       line_spans: __span
       pygments_lang_class: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
