[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/echosms"]

[project]
name = 'echosms'
version = '0.1.6'
license = {file = "LICENSE"}
keywords = ["acoustic", "backscatter", "model"]
authors = [
  { name="Mike Jech"},
  { name="Gavin Macaulay"}
]
description = 'Acoustic backscattering models used in aquatic ecosystem research'
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
	"numpy",
	"scipy != 1.13.0, != 1.13.1, != 1.14.0",
	"pandas",
  "xarray",
  'tomli >= 1.1.0; python_version < "3.11"'
]
dev-dependencies = [
  "mkdocstrings[python]"
]

classifiers = [
    'Development Status :: 3 - Alpha',
    'Intended Audience :: Science/Research',
    'License :: OSI Approved :: MIT License',
    'Operating System :: OS Independent',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Topic :: Scientific/Engineering',
]

[project.urls]
Homepage = 'https://github.com/ices-tools-dev/echoSMs'
Issues = 'https://github.com/ices-tools-dev/echoSMs/issues'
Documentation = 'https://ices-tools-dev.github.io/echoSMs'
Repository = 'https://github.com/ices-tools-dev/echoSMs'
Discussions = 'https://github.com/ices-tools-dev/echoSMs/discussions'
